.picture-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    width: 66%;

}

.picture-preview {
    position: flex;
    width: 100%;
    padding-top: 1%;
    box-shadow: 8px 5px 20px 3px black;
    border-radius: 10px;
}

.picture-info {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 70px;
    padding-bottom: 1%;
}

.image-wrap {
    display: flex;
    width: 10%;
    height: 100%;
    min-width: 70px;
    max-width: 80px;
    margin-left: 10px;
    margin-right: 5px;
}

.profile-pic-container {
    height: 0;
    width: 80%;
    padding-bottom: 80%;
    background-color: black;
    background-image: url(/frontend/assets/pictures/profilepic.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 1px #616161;
}

.text-container {
    flex: 1;
    min-height: 70px;
}

.main-p {
    margin-top: 1px;
    margin-bottom: 5px;
    font-size: large;
    font-weight: 800;
}

.desc-p {
    color: #b9b9b9;
}

.feed-pic-container {
    display: flex;
    justify-content: center;
    background-color: black;
}

.feed-pic {
    max-width: 100%;
    max-height: 800px;
}

.btn-container {
    display: flex;

}

.btn-container input {
    width: 50%;
    height: 50px;
    margin: 4px 2px;

    text-align: center;
    color: #ef8327;
    font-weight: 800;
    font-size: large;

    background-color: transparent;

    border-top: 1px solid #ef8327;
    border-bottom: 1px solid #ef8327;  
    border-left: none;
    border-right: none;  

    cursor: pointer;
}


.btn-container input:hover {
    background-color: #ef8327;
    color: rgb(19, 18, 18);
    transition: all 0.15s;
}

@media screen and (max-width: 900px) {
    .picture-grid {
        width: 100%;
    }

    .picture-preview {
        border-radius: 0;
    }


    .main-p {
        margin-top: 2%;
    }

    .btn-container input {
       height: 40px;
    }
}